<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SelectOficinaRegistrarClientes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registrarse 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="selectOficinaSalaEspera">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sala De Espera 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SelectOficinaAtencionCliente">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Atención Al Cliente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gestionDeCalidad">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gestión De Calidad
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="infoOficinas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Info Oficinas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loginAdmininistradorAOficinas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Oficina
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loginAdmininistradorAOperarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Operario
            </NavLink>
        </div>
    </nav>
</div>

