@page "/gestionDeCalidad"

<h3>Panel de Reportes</h3>

<nav class="navbar">
    <NavLink href="/mesTramite" class="nav-link">Mes de Trámite</NavLink>
    <NavLink href="/flujoCliente" class="nav-link">Flujo de Cliente</NavLink>
    <NavLink href="/tiempoTramite" class="nav-link">Tiempo de Trámite</NavLink>
</nav>
