@page "/"
@using BlazorApp.Models;
@using BlazorApp.Models.DTs
@using BlazorApp.Models.Interfaces

@inject IOficinaRepository OficinaRepository

<PageTitle>Administración de Oficinas</PageTitle>

<h1 style="text-align:center">Administración de Oficinas</h1>

<RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">

    <RadzenImage Path="../images/utecLogo.png" Style="width: 15rem;" AlternateText="community" />

</RadzenStack>

@code {
    private List<DTOficina> oficinas;

    protected override async Task OnInitializedAsync()
    {
       
    }
}
