@page "/"
@using BlazorApp.Models;
@using BlazorApp.Models.DTs
@using BlazorApp.Models.Interfaces

@inject IOficinaRepository OficinaRepository

<h3>Lista de Oficinas</h3>

@if (oficinas != null && oficinas.Any())
{
   
}
else
{
    <p>No hay oficinas disponibles.</p>
}

@code {
    private List<DTOficina> oficinas;

    protected override async Task OnInitializedAsync()
    {
        // Cargar todas las oficinas de manera asíncrona
        oficinas = await OficinaRepository.ObtenerTodasLasOficinasDTOAsync();
    }
}
