@page "/loginAdmininistradorAOperarios"
@rendermode InteractiveServer
@using BlazorApp.Models
@using BlazorApp.Models.DTs
@using BlazorApp.Models.Interfaces
@inject IOficinaRepository OficinaRepository
@inject IOperarioRepository OperarioRepository
@inject NavigationManager NavigationManager

<h1>Ingresar a administracion de oficinas</h1>
<h1>Selecciona oficina y nombre operario</h1>
<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
    <!-- DropDown para seleccionar la oficina -->
    <RadzenDropDown @bind-Value="selectedOficinaId"
                    Data="oficinas"
                    TextProperty="Nombre"
                    ValueProperty="Id"
                    Style="width: 100%; max-width: 300px;"
                    Name="DropDownBindValue"
                    Placeholder="Seleccione una oficina"
                    Change="@(async (args) => await OficinaSeleccionada(args))" />
    <RadzenColumn Size="12" SizeMD="6" SizeLG="12">
        <!-- Campo para el nombre del operario -->
        <RadzenFormField Text="Nombre del Operario" Style="width: 100%; max-width: 300px;">
            <RadzenTextBox @bind-Value="operarioNombre" Placeholder="Ingrese su nombre" />
        </RadzenFormField>

        <!-- Campo para la contraseña del operario -->
        <RadzenFormField Text="Contraseña del Operario" Style="width: 100%; max-width: 300px;">
            <RadzenTextBox @bind-Value="operarioContraseña" Placeholder="Ingrese su contraseña" Type="password" />
        </RadzenFormField>
    </RadzenColumn>

    <RadzenButton Text="Ingresar!" class="rz-ripple" Disabled="@isButtonDisabled" Click="Redirigir" />
</RadzenStack>

<!-- Alerta de error -->
@if (alertVisible)
{
    <RadzenAlert AlertStyle="@(isError ? AlertStyle.Danger : AlertStyle.Success)"
                 Variant="Variant.Flat"
                 Shade="Shade.Lighter"
                 Title="@(isError ? "Error" : "Éxito")"
                 Visible="true"
                 AllowClose="false">
        @alertMessage
    </RadzenAlert>
}

@code {
    private List<DTOficina> oficinas;
    private int selectedOficinaId;
    private string operarioNombre;
    private string operarioContraseña;
    private bool isButtonDisabled => string.IsNullOrEmpty(operarioNombre) || string.IsNullOrEmpty(operarioContraseña) || selectedOficinaId == 0;

    private bool alertVisible = false;
    private bool isError = false;
    private string alertMessage = "";

    protected override async Task OnInitializedAsync()
    {
        oficinas = OficinaRepository.ObtenerTodasLasOficinasDTO();
    }

    private async Task OficinaSeleccionada(object args)
    {
        selectedOficinaId = (int)args;
        alertVisible = false;
    }

    private async void Redirigir()
    {
        // Llama a la función VerificarCredencialesAsync con rol de Administrador
        var operario =  OperarioRepository.VerificarCredenciales(selectedOficinaId, operarioNombre, operarioContraseña, Rol.Administrador);

        if (operario != null)
        {
            // Redirige a la página de operarios si el operario tiene rol de Administrador
            NavigationManager.NavigateTo("/operarios");
        }
        else
        {
            // Muestra mensaje de error si las credenciales no son válidas
            alertVisible = true;
            isError = true;
            alertMessage = "Credenciales incorrectas o no tiene permisos de administrador.";
            Console.WriteLine("Credenciales incorrectas o no tiene permisos de administrador.");
            StateHasChanged();

            await Task.Delay(4000);
            alertVisible = false;
            StateHasChanged();
        }
    }
}